{% extends  "store/base.html" %}
{% block title %}
    <title>商品列表</title>
{% endblock %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>

</div>
{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>商品名称</th>
            <th>商品价格</th>
            <th>商品数量</th>
            <th>出厂日期</th>
            <th>保质期</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for goods in page %}
            <tr>
                <td><a href="/Store/goods/{{ goods.id }}">{{ goods.goods_name }}</a></td>
                <td>
                    <input type="text" value="{{ goods.goods_price }}">
                </td>
                <td>{{ goods.goods_number }}</td>
                <td>{{ goods.goods_date }}</td>
                <td>{{ goods.goods_safeDate }}</td>
                <td>
                    <a href="#" class="btn btn-danger">下架</a>
                    <a href="#" class="btn btn-facebook">销毁</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="dataTables_paginate paging_simple_numbers">
        <ul class="pagination">
            {% for p in page_range %}
                <li class="pagination_button page-item">
                    {#就算没有关键字也要提交一个关键字为空到后台#}
                    <a class="page-link" href="?keywords={{ keywords }}&page_num={{ p }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}