{% extends  "store/base.html" %}
{% block title %}
    <title>商品列表</title>
{% endblock %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>

</div>
{% block content %}
    {% for order in order_list %}
        <div class="list_model">
        <table class="table table-bordered" style="width: 800px;height: 200px ;">
            <tr class="fl" id="model01">
                <td>订单编号:{{ order.order_id }}</td>
                <td>
                    {% ifequal state 'no' %}
                        <a href="/Store/set_orders/no/?id={{ order.order_id }}" class="btn btn-danger">拒绝发货</a>
                        <a href="/Store/set_orders/down/?id={{ order.order_id }}" class="btn btn-danger">确认发货</a>
                    {% endifequal %}
                    <a href="/Store/set_orders/delete/?id={{order.order_id }}" class="btn btn-facebook">删除订单</a>
                </td>
            </tr>
            {#遍历显示查询出的前四条信息#}
            {% for goods in or_list %}
                {% for good in goods %}
                    <tr>
                        <td><a href="#">{{ good.goods_name }}</a></td>
                        <td class="prize">￥{{ good.goods_price }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    {% endfor %}
<table class="dataTables_paginate paging_simple_numbers">
    {% for p in page_range %}
        <td class="pagination_button page-item">
            {#就算没有关键字也要提交一个关键字为空到后台#}
            <a class="page-link" href=?page_num={{ p }}">{{ p }}</a>
        </td>
    {% endfor %}
</table>
{% endblock %}